.orders{
    padding: 0% 5%;
    font-family: 'Poppins', sans-serif;
}

.orders-heading{
    font-weight: 500;
}

.orders-type{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}

.orders-type div{
    width: 25%;
    display: flex;
    justify-content: center;
    border-radius: 32px;
    padding: 0.50rem 0.05rem;
    font-size: 0.80rem;
    border: 2px solid white;
}

.orders-type div:hover{
    border: 2px solid #e63946;
}

.highlight-orders-type{
    color: white;
    background-color: #e63946;   
}

.orders-list{
    display: none;
}

@media (min-width: 1024px){
    .order-wrapper{
        display: flex;
        gap: 25px;
        margin: 2rem 0;
        height: 450px;
    }

    .orders-type{
        width: 40%;
    }

    .orders-type div{
        font-size: 1rem;
    }

    .orders-list{
        display: flex;
        flex-direction: column;
        gap: 10px;
        background-color: #f5f5f5;
        border-radius: 16px;
        padding: 1rem;
        width: 35%;
        overflow: auto;
    }

    .order-list-item{
        display: grid;
        grid-template-columns: 33% 33% 33%;
        gap: 15px;
        width: 100%;
        background-color: white;
        /* margin:1rem; */
        padding: 1rem;
        border-radius: 8px;
    }

    .highlight-order{
        border: 1px solid;
    }

    .order-id-container, .order-items-container, .order-total-container{
        display: flex;
        gap: 10px;
    }
    .order-id-container{
        grid-column-start: 1;
        grid-column-end: 4;
    }

    .order-items-container{
        grid-column-start: 1
    }

    .order-details-container{
        display: none;
    }

}



