.category-navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem 1.5rem;
}

.category-navbar-button{
    width: 20%;
    font-size: 0.9rem;
    font-family: 'Poppins', sans-serif;
    border: 2px solid #e63946;
    color: black;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    background-color: white;
    display: flex;
    justify-content: center;
    transition: color 500ms;
    transition: background-color 300ms ease, color 300ms ease;
}

.category-navbar-button:hover{
    background-color: #e63946;
    color: white;
}

.highlight-category-navbar{
    background-color: #e63946;
    color: white;
}

@media (min-width: 1024px){
    .category-navbar{
        display: none;
    }
}