.card-skeleton{
    display: flex;
    flex-direction: column;
    /* margin: 2%; */
}

.img-container{
    border-radius: 10px;
    background-color: #ccc;
    width: 100%;
    margin: 2% 0%;
}

.text-container{
    border-radius: 10px;
    margin: 5px 0px;
}

.grid-container-mobile{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-row-gap: 50px;
}

.wrapper{
    margin: 2% 5%;
}

.grid-container-desktop{
    display: none;
}

@media(min-width: 1024px){
    .grid-container-mobile{
        display: none;
    }

    .grid-container-desktop{
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;

    }
}

