@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


.Home{
    background-color: white;
}

.second-section{
    position: relative;
    z-index: 100;
    background-color: white;
    padding: 5% 5%;
    font-family: 'Poppins', sans-serif;
}

.category-wrapper{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    text-align: center;
   
}

.third-section{
    padding: 0% 5% 5%;
    font-family: 'Poppins', sans-serif;
}

.deals-wrapper{
    /* height: 200px; */
}

.carasouel-images{
    position: relative;
}

.bg-img-carasouel{
    height: 600px;
}

@media (max-width: 768px) {

    .category-wrapper{
        grid-template-columns: auto auto auto;
    }

    .deals-wrapper{
        grid-template-columns: auto;
    }
} 


