.deals{
    text-align: center;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    padding: 5%;
    position:absolute;
    top: 0%;
    z-index: 10000;
}

.deals-img-container{
    width: 650px;
    height: 200px;
}

.deals-img{
    max-width: 45% !important;
    object-fit: cover;
}

.deals-details{
    height: 30vh;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   justify-content: center;
   align-items: center;
}

.deals-name{
    margin-bottom: 0px;
}

.deals-discount{
    margin-top: 0px;
}

.deals-shop-now{
    font-size: 2vw;
    color: white;
    background-color: #7286D3;
    border-radius: 10px;
    border: 0px;
    padding: 10px 40px;
}