.kids-img1{
    max-width: 400px;
    position: absolute;
    bottom: 0%;
    left: 0%;
    z-index: 100;
}

.kids-img2{
    max-width: 400px;
    position: absolute;
    bottom: 0%;
    right: 0%;
    z-index: 100;
}

.second-section{
    position: relative;
    z-index: 100;
    background-color: white;
    padding: 5% 5%;
    font-family: 'Poppins', sans-serif;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .kids-img1{
        max-width: 450px;
    }

    .kids-img2{
        max-width: 450px;
    }
}

@media (min-width: 1024px) {
    .kids-img1{
        max-width: 550px;
    }

    .kids-img2{
        max-width: 550px;
    }
}


/* @media (max-width: 1200px) {
    .kids-img1{
        bottom: -150px;
        right: -30px;
    }

    .kids-img2{
        bottom: -175px
    }
}

@media (max-width: 768px) {
    .kids-img1{
        bottom: -100px;
       
    }

    .kids-img2{
        bottom: -100px;
        left: 0px;
    }
}

@media (max-width: 425px) {
    .kids-img1{
        width: 75vw;
        bottom: -100px;
        right: -35px;
    }

    .kids-img2{
        width: 70vw;
        bottom: -150px;
        left: -30px;
    }
} */