
.product-details{
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 5% 5%;
    /* height: 60vh; */
    font-family: "Poppins", sans-serif;
}

.heading{
    padding: 0% 0% 5%;
}

.product-brand-name, .product-desc{
    margin: 0px;
}

.product-brand-name{
    font-weight: 400;

}

.product-desc{
    color: #535665;
}

.price{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.discount-percentage{
    color: #ff905a;
}

.original-price{
    text-decoration: line-through;
    color: #484b57;
}
 
.place-order{
    padding: 5% 0%;
}

.select-size-heading{
    margin: 10px 0px;
    font-weight: 500;
}

.photos-pane{
    padding: 0% 0% 0% 0%;
}

.details-pane{
    padding: 5% 10%;
    width: 100%;
} 

.details-wrapper{
    display: flex;
    align-items: center;
}
.select-size input{
    display: none;
}

.size{
    border: 1px solid rgb(121, 121, 121);
    padding: 20%;
    margin-right: 5px;
    border-radius: 4px;
}

.size:hover{
    background-color: #f4555d;
    color: white;
    border-color: #f4555d;
}

.select-size{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    justify-content: center;
    width: 60%;
    
}

.select{
    border: 1px solid #f4555d ;
    background-color: #f4555d;
    color: white;
}

.size{
    display: flex;
    justify-content: center;
}

.add-to-cart-btn{
    background-color: #f4555d;
    border: none;
    border-radius: 10px;
    padding: 10px 30px;
    width: 60%;
    color: white;
    font-size: 1.15rem;
    font-weight: 500;
    margin-bottom: 6%;
    display: flex;
    justify-content: center;
    margin: 2% 0%;
}