.product-container{
    margin: 2.5% 5%;
}

.product-container-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.product-container-heading{
    font-size: 1.75rem;
    font-weight: 500;
}

.product-sort-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.product-sort-wrapper select{
    padding: 2%;
    margin: 0% 5%;
    border: 1px solid #ededed;
    background-color: white;
    font-family: Poppins ;
}

.product-sort-wrapper span{
    font-size: 1.25rem;
    font-weight: 600;
}

.filters-icon-container{
    width: 100%;
    max-width: 30px;
    display:flex;
    align-items: center;
    cursor: pointer;
}

.filter-icon{
    width: 100%
}

.filters-container{
    position: fixed;
    top: 0%;
    left: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1000;
    animation: appear 0.2s forwards;
} 

@keyframes appear{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1
    }
}

.filters-pane{
    width: 80vw;
    z-index: 100000;
    background-color: white;
    box-shadow: 5px 5px 5px rgb(0,0,0,0.3);
    padding: 1.5rem;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 16px;

}

.filters-pane::-webkit-scrollbar {
    width: 5px;
}

.filters-pane::-webkit-scrollbar-button {
    display:none;
}

.filters-pane::-webkit-scrollbar-thumb {
    background: #9e9e9e; 
}

@media (min-width: 1024px){
    .filters-pane{
        width: 50vw;
    }
}