.first-section{
    background-color: #DDD6F3;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ee76df'/%3E%3Cstop offset='1' stop-color='%23ee76df' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%239190e5'/%3E%3Cstop offset='1' stop-color='%239190e5' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23d524ec'/%3E%3Cstop offset='1' stop-color='%23d524ec' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23DDD6F3'/%3E%3Cstop offset='1' stop-color='%23DDD6F3' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FF0000'/%3E%3Cstop offset='1' stop-color='%23FF0000' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%234568DC'/%3E%3Cstop offset='1' stop-color='%234568DC' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
    background-size: cover;
    color: white;
    margin: 2.5% 5% 0% 5%;
    position:relative;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.first-section-description{
    padding: 1% 0%;
}

.first-section-description h1{
    font-size: 4.5rem;
    padding: 0% 7.5% ;
}

.first-section-description h2{
    font-size: 2rem;
}

.first-section-description button{
    padding: 1% 5%;
    font-size: 2.5rem;
    color: #FF0000;
    background-color: white;
    border-radius: 16px;
    border: 0px;
    margin: 3% 0%;
    z-index: 10000;
}

.first-section-description button:hover{
    color: white;
    background-color: #FF0000;
}

.male{
    width: 35%;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 75;
}

.female{
    width: 35%;
    position: absolute;
    left: -65px;
    bottom: 0px;
    z-index: 50;
}

@media (max-width: 425px){
    .first-section-description h1{
        font-size: 2.5rem;
        padding: 0%;
    }

    .first-section-description h2{
        font-size: 1.5rem;
    }

    .first-section-description button{
        font-size: 1.25rem;
    }

    .first-section{
        height: 400px;
        padding: 2.5% 0%;
    }

    .female{
        left: 0px;
        width:
    }
}
