.photos{
    display: grid;
    grid-template-columns: 25% auto ;

}

.photo-display-img{
    max-width: 100%;
    height: auto;
    object-fit: fill; 
}

.photo-display{
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.photo-card{
    max-width: 40%;
}

.photo-card-img{
    max-width: 80%;
}

.photo-options{
    display: flex;
    flex-direction: column;
    padding: 15% 0%;
    justify-content: center;
    align-items: center;
}