
.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 3rem;
    font-family: 'Poppins', sans-serif;
}

.login-heading{
    font-size: 2rem;
    font-weight: 600
}

.login form{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.login form div{
    display: flex;
    flex-direction: column;
}

.email, .password{
    border-radius: 16px;
    border: 2px solid;
    padding: 1rem;
}

.email[placeholder], .password[placeholder]{
    font-size: 0.90rem;
}

.email-label, .password-label{
    font-size: 1rem;
    margin: 0.75rem 0;
}

.login-button{
    background-color: #e63946;
    color: white;
    border: 2px solid #e63946;
    font-size: 1.25rem;
    border-radius: 32px;
    padding: 10px 40px;
}

.login-button:hover{
    background-color: white;
    color: #e63946;
    border: 2px solid #e63946;
}

.signup-link{
    color: #0db7af;
}

.signup-link:hover{
    cursor: pointer;
    color:  green;
}

@media (min-width: 1024px){
    .login{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .login-wrapper{
        width: 25%;
    }

    .login-heading, .login-alternate{
        text-align: center;
    }
}