.women-img1{
    position: absolute;
    bottom: 0%;
    left: 0%;
    max-width: 230px;
}


.women-img2{
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 70%;
    max-width:300px;
}


.second-section{
    position: relative;
    z-index: 100;
    background-color: white;
    padding: 5% 5%;
    font-family: 'Poppins', sans-serif;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .women-img1{
        max-width: 260px;
    }

    .women-img2{
        max-width: 330px;
    }
}

@media (min-width: 1024px) {
    .women-img1{
        max-width: 300px;
    }

    .women-img2{
        max-width: 375px;
    }
}

/* @media (max-width: 1200px) {
    .women-img1{
        bottom: -150px;
        right: -30px;
    }

    .women-img2{
        bottom: -100px
    }
}

@media (max-width: 768px) {
    .women-img1{
        bottom: -75px
    }

    .women-img2{
        bottom: -50px
    }
}

@media (max-width: 425px) {
    .women-img1{
        width: 75vw;
        bottom: -100px;
        right: -50px;
    }

    .women-img2{
        width: 70vw;
        bottom: -50px;
        left: -30px;
    }
} */