.hamburger-menu{
    position: fixed;
    top: 0%;
    right:0%;
    z-index: 10000;
    width: 80%;
    max-width: 400px;
    height: 100vh;
    background-color: white;
    box-sizing: border-box;
    padding: 5rem 1rem;
    overflow: auto;
}

.hamburger-category{
    display:flex;
    flex-direction: column;
    gap: 0.25rem
}

.category-item{
    font-size: 1.25rem;
    font-weight: 700 
}

.back-arrow-icon{
    width: 4%;
}

.back-arrow{
    width: 100%;
    font-size: 0.85rem;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
}

.active{
    display: block;
}

@media (min-width: 1024px){
    .category-item{
        font-size: 1rem;
        font-weight:400
    }
}
