@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');

    .navbar{
        font-family: 'Poppins', sans-serif;
        position: relative;
        z-index: 10000;
        display: flex;
        gap: 25px;
        padding: 0% 5%;
        align-items: center;
        box-shadow: 2px 5px 8px #888888;
    }

    .brand-name{
        font-family: 'Unica One', cursive;
        font-size: 3rem;
        font-weight: 600;
    }

    .categories{
        display: flex;
        flex-direction: row;
        width:50%;
    }    

    .men-heading-container, .women-heading-container, .kids-heading-container, .lifestyle-heading-container{
        padding: 5% 7%;
        position: relative;
    }

    .men-heading-container:hover + .men-wrapper, .women-heading-container:hover + .women-wrapper, .kids-heading-container:hover + .kids-wrapper, .lifestyle-heading-container:hover + .lifestyle-wrapper, .men-wrapper:hover, .women-wrapper:hover, .kids-wrapper:hover, .lifestyle-wrapper:hover{
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .men-heading-container::after,  .women-heading-container::after, .kids-heading-container::after, .lifestyle-heading-container::after{
        content: " ";
        height: 3px;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .men-heading-container::after {
        background-color: #637ae0;
    }

    .women-heading-container::after{
        background-color: #ff3b3b;
    }

    .kids-heading-container::after{
        background-color: orange;
    }

    .lifestyle-heading-container::after{
        background-color: #0db7af;
    }

    .men-wrapper, .women-wrapper, .kids-wrapper, .lifestyle-wrapper{
        background-color: white;
        display: none;
        position: absolute;
        top: 100%;
        left: 10%;
        width: 40%;
        padding: 0% 2%;
        z-index: 100;         
    }

    .men-sub-category-heading{
        color: #637ae0;
    }
    
    .women-sub-category-heading{
        color: #ff3b3b;
    }

    .kids-sub-category-heading{
        color: orange;
    }

    .lifestyle-sub-category-heading{
        color: #0db7af;
    }

    .men-heading-container:hover::after,  .women-heading-container:hover::after, .kids-heading-container:hover::after, .lifestyle-heading-container:hover::after{
        width: 100%;
    }

    .search-container{
        display: flex;
        flex-direction: row;
        width: 40%;
    }

    .search-textbox{
        padding: 2%;
        border: 1px solid #ededed;
        outline: none;
        flex-grow: 2;
    }

    .clear-search{
        width: 3%;
        padding: 2%;
        border: 1px solid #ededed;
    }

    .search-results-box{
        position: absolute;
        top: 100%;
        left: 40%;
        width: 50%;
        background-color: white;
        padding: 1%;
        box-shadow: 2px 5px 8px #888888;
    }

    .react-loader-box{
        display: flex;
        justify-content: center;
        padding: 15%;
    }

    .search-item-box{
        display: flex;
        flex-direction: row;
        padding: 1%;
    }

    .search-item-img{
        width: 8%;
    }

    .search-item-details{
        display: flex;
        flex-direction: column;
        padding: 1%;
    }

    .last-menu{
        display: grid;
        grid-template-columns: 33% 33% 33%;
        width: 20%;
    }

    .last-menu p{
        margin: 0;
        font-size: small;
    }

    .cart-icon, .wishlist-icon, .profile-icon{
        width: 25%;
    }


    .profile-container, .cart-wrapper, .wishlist-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .profile-wrapper{
        position: absolute;
        background-color: white;
        width: 20%; 
        padding: 2% 0% 2% 0%;
        z-index: 10000;
        right: 5%;
        top: 100%;
        display: none ;
        box-shadow: 2px 5px 8px #888888;
    }

    .welcome-text{
        padding: 2% 5%;
    }

    .login-register-button{
        background-color: #f4555d;
        border: none;
        border-radius: 10px;
        padding: 10px 40px;
        width: 50%;
        color: white;
        font-size: 0.9rem;
        font-weight: 500;
        margin-bottom: 4%;
        display: flex;
        justify-content: center;
        margin: 2% 0%;
    }

    .profile-links-wrapper{
        padding: 0% 5%;
    }

    .profile-container:hover + .profile-wrapper{
        display: block;
    }
    
    .profile-wrapper:hover{
        display: block;
    }

    .welcome, .username{
        margin: 0;
    }

    .hamburger-icon{
        display: none;
    }
    
@media (min-width: 425px ) and (max-width: 768px){
    .categories{
        display:none;
    }
    .last-menu{
        display: none;
    }
    .search-container{
        display: none;
    }
    .hamburger-icon{
        display: block;
        width:5%
    }
    .navbar{
        justify-content: space-between;
    }
    .brand-name{
        padding: 2.5% 0%;

    }
}

@media (max-width: 425px){
    .categories{
        display:none;
    }
    .last-menu{
        display: none;
    }
    .search-container{
        display: none;
    }
    .hamburger-icon{
        display: block;
        width:7.5%
    }
    .navbar{
        justify-content: space-between;
    }
    .brand-name{
        padding: 3.5% 0%;
        font-size: 2.5rem;
    }
}
    

    

    
    