.heading-container{
    padding: 6% 7%;
        position: relative;
        text-decoration: none;
        color: black;
}

.heading-container::after{
    content: " ";
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
}

.heading-container:hover::after{
    width: 100%;
}

.Men::after{
    background-color: #637ae0;
}

.Women::after{
    background-color: #ff3b3b;
}

.Kids::after{
    background-color: orange;
}

.Lifestyle::after{
    background-color: #0db7af;
}

.sub-category-wrapper{
    background-color: white;
        display: none;
        position: absolute;
        top: 100%;
        left: 10%;
        width: 40%;
        padding: 0% 2%;
        z-index: 100;   
}

.heading-container:hover + .subcategory-wrapper{
    display: grid;
    grid-template-columns: auto auto;
}